@page
@model RankingModel
@{
    ViewData["Title"] = "Classement";
}

<div class="text-center">
    <h2 class="display-4" style="font-size:1.5rem;">Classement des plus beaux chats</h2>
</div>

@foreach (var image in Model.ImagesList)
{
    <div class="row" style="font-size:1rem">
        <div class="col" style="padding: 0.4rem;">
            <div style="width:18rem;">
                <img src="@image.Url" class="card-img" alt="cat">
            </div>
        </div>
        <div class="col" style="display: flex; align-items: center;">
            @image.Votes Votes
        </div>
    </div>
}

